
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #e6ddff
}

.glow-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 150px;

  background-color: transparent;
  border: 3px solid white;

  cursor: pointer;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: red;
}
