
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #e6ddff
}

.glow-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 150px;

  background-color: transparent;
  border: 1px solid white;

  cursor: pointer;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: #fefad4;

  box-shadow: 0px 0px 10px 10px #f2eedd;
}

#mirror {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mirror-error {
  z-index: 2;
  display: none;
  position: absolute;
  height: 60px;
  line-height: 60px;
  top: 50%;
  margin-top: -30px;
  width: 430px;
  left: 50%;
  margin-left: -215px;

  text-align: center;
  color: #e91f1f;
  background-color: white;
  font-size: 22px;
  font-style: italic;
  text-decoration: underline;
}
